.main {
    font-family: "Times New Roman",sans-serif;
    line-height: 30px;
}

.ingredients, .steps {
    background-color: lightgray;
    padding: 40px 40px;
    line-height: 30px;
    color: #333333;
}

img {
    border: 5px solid black;
}

h1 {
    letter-spacing: 1px;
}
